{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail cache %}
{% load comments filters uploadtemplate_tags %}
{% block body_id %}home_page{% endblock %}
{% block body_class %}scrolling{% endblock %}

{% block content %}
  <div class="featured_slider">
  {% if not featured_videos %}
  <div id="welcomebox">
    {% if new_videos.count %}
    {% if user_is_admin %}
    {# videos, but nothing featured #}
    <h1>Time to Feature a Video!</h1>
    <p>Visit any video and click on the <span id="featurebuttondemo">button</span>. We'll put three videos in this top area and they'll also go into the featured section. Once you feature a video, this text box will disappear.</p>
    <p>Also, don't forget that you can customize the <a href="{% url localtv_admin_settings %}">Design Settings</a> for your site. It's easy to add a site logo or try a different site layout. More advanced users can add custom HTML or CSS to the site.</p>
    {% endif %}
    {% else %}
    {% if user_is_admin %}
    {# admin but not videos #}
    <h1>Add Some Videos</h1>
    <p>Use the "Submit a Video" button (above) to add a single video. You can paste in a YouTube, Vimeo, or blip.tv url, a direct url (eg. yourclip.mov), or the page that contains an embedable video (and then the embed code).</p>
    <p>The real power of Miro Community is importing multiple videos in at once, via <a href="{% url localtv_admin_manage_page %}">Manage Sources</a>. For example, you can auto-import videos from YouTube user accounts, video RSS feeds, saved searches from hosting sites, etc.</p>
    {% else %}
    {# new site #}
    <h1>Welcome to Your New Site!</h1>
    <p>The first step is to add videos to your site. Videos can be added one at a time or lots at once from a source (such as a YouTube account, or an RSS feed). <br />To get started, log in:</p>
    <div id="loginfields">
      <form action="{{ settings.LOGIN_URL }}" method="post">
        <div id="loginusername">
          <p>
            <label for="id_username">Username</label>
            <input id="id_username"name="username" />
          </p>
        </div>
        <div id="loginpassword">
          <p>
            <label for="id_password">Password</label>
            <input id="id_password" type="password" name="password" />
            <input class="loginbutton" type="submit" value="login" />
          </p>
        </div>
      </form>
    </div>
    {% endif %}
    {% endif %}
  </div>
  {% else %}

    <div id="featured_slider">
    	<div class="inner_slider">
			<!-- wrapper for navigator elements -->
			<div class="navi"></div>
						
			<!-- "previous page" action -->

			<a class="prevPage browse left"></a>
			
			<!-- root element for scrollable -->
			<div class="scrollable" id="chained">	
				
				<!-- root element for the items -->

      <ul class="items">
        {% for video in featured_videos|slice:":3" %}
        <li>
          {% include "localtv/video_feature.html" %}
        </li>
        {% endfor %}
      </ul>
      
      			<!-- javascript coding -->
			<script>
			// What is $(document).ready ? See: http://flowplayer.org/tools/using.html#document_ready
			$(document).ready(function() {
			
			// heeeeeeeeeeere we go.
			$("#chained").scrollable({size: 1, speed: 500, hoverClass: 'hover'}).circular().navigator().autoscroll({
				steps: 1,
				interval: 7000
			});	
			});
			</script>

    </div>
        </div>
    </div>

  {% endif %}
  </div>
  
  <div id="content">
     	<div class="inner_content">
  <div class="main">  
    <div class="heading">
      <h2>Today's Picks</h2>
        {% url localtv_feeds_new as feeds_new %}
        <a href="{{ feeds_new }}" class="rss">RSS</a>
        <a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ feeds_new|urlencode }}" class="subscribe">Subscribe</a>
    </div>
    
    
    	<ul class="vid_list">

    {% for video in new_videos|slice:":5" %}
      {% include "localtv/video_listing_individual.html" %}
    {% endfor %}
    	</ul>

								<a href="{% url localtv_list_new %}" class="more_large"><span>See 10 More</span></a>
  
  </div>


	<div class="sidebar">
	
			
				<div class="heading">
					<h2>Most Watched</h2>
                                        {% url localtv_feeds_popular as feeds_popular %}
					<a href="{{ feeds_popular }}" class="rss">RSS</a>					
					<a href="http://subscribe.getmiro.com/?url1=http%3A//{{ sitelocation.site.domain|urlencode }}{{ feeds_popular|urlencode }}" class="subscribe">Subscribe</a>					
				</div>
				
				<ul>
                                  {% cache 3600 index_blue_popular sitelocation %}{# one hour #}
                                  {% for video in popular_videos|slice:":8" %}
                                  {% include "localtv/sidebar_video.html" %}
                                  {% endfor %}
                                  {% endcache %}
				</ul>
				
				


				<br class="clear" />



			    <h2 class="clear">Recent Comments</h2>


				<ul class="recent_comments">
                                  {% for comment in comments|slice:":6" %}
                                  <li>
                                    <p>{{ comment.comment|sanitize }}</p>
                                    <span class="comment_author">&mdash; {{ comment.name }} on <a href="{{ comment.get_absolute_url }}">{{ comment.content_object.name }}</a></span>
                                  </li>
                                  {% endfor %}
				</ul>

			
			</div>
			
			<div class="clear">&nbsp;</div>
			
		</div>

	</div>
	</div>

	
  
{% endblock content %}



