{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail i18n filters uploadtemplate_tags comments editors_comment %}
{% if video.has_thumbnail %}
		<a href="{{ video.get_absolute_url }}" class="image main_thumb" style="background: #fff url({% get_thumbnail_url video 375 295 %}) 5px 5px no-repeat;">
		{% else %}
		<a href="{{ video.get_absolute_url }}" class="image main_thumb" style="background: url({% get_static_url "/images/default_big.jpg" %}) no-repeat center -50px;">
                {% endif %}
                {% get_comment_count for video as comment_count %}
                {% if comment_count %}<span class="comments_overlay"><span>{{ comment_count }} Comment{{ comment_count|pluralize }}</span></span>{% endif %}
		</a>
                <div class="item_details">
			<div class="editors">Editor's Pick</div>
			
			{% if video.name %}
				<h2><a href="{{ video.get_absolute_url }}" title="{{ video.name }}">{{ video.name }}</a></h2>
			{% else %}
				<h2><a href="{{ video.get_absolute_url }}">{% trans "(no title)" %}</a></h2>
			{% endif %}
			
			  
			<span class="credits">
				<span class="posted_by"> 
                                  {% with video as instance %}
                                  {% include "localtv/inline_edit/video_authors.html" %}
                                  {% endwith %}
				</span>
				<span class="posted_at">Featured {{ video.last_featured|simpletimesince }} ago</span>
			</span>

                        {% get_editors_comment for video as editors_comment %}
                        {% if editors_comment %}
                        <div class="description editors_notes">
                          <div>
                            <span class="written_by"><a href="{% url localtv_author editors_comment.user.id %}">{{ editors_comment.user }}</a> writes:</span>
                            {{ editors_comment.comment|safe }}
                          </div>
                        </div>
                        {% else %}
			<div class="description"><div>{{ video.description|sanitize }}</div></div>
                        {% endif %}
		</div>

		
		<a href="{{ video.get_absolute_url }}" class="watch_large"><span>Watch</span></a>
		

	
